<html>
  <body>
    <div class = "container">
      <h1>Contacter l'equipe</h1>
      <p>N'hesitez pas à nous envoyer un mail à <a href = "mailto:acastelbou1@gmail.com">acastelbou1@gmail.com</a></p>
    </div>
  </body>
</html>