<html>
  <body>
    <div class = "container">
      <h1>L'equipe derriere The Gossip Project</h1>
      <p>The Gossip Project a été fondé par Bill Gates et Elon Musk, en 2020, dans le but de démocratiser la création de potins et rumeurs </p>
    </div>
  </body>
</html>